{% extends 'base.html' %}
{% block title %}Ticket #{{ object.id }}{% endblock %}
{% block content %}
<h2>Ticket #{{ object.id }} <span>{{ object.status }}</span></h2>
<div class="ticket">
	<h2>Information</h2>
	<div class="date">
		<p class="cr">Opened {{ object.created_on }} ago</p>
		<p class="up">Last modified {{ object.updated_on }} ago</p>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="block w49 left">
		<p class="pri title">Priority</p>
		<p class="pri">Nothing here!</p>
	</div>
	<div class="block w49 right">
		<p class="ass title">Assigned to</p>
		<p class="ass">Nobody {{ object.assigned_to }}</p>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="block">
		<p class="des title">Description</p>
		<p class="des">{{ object.description }}</p>
	</div>
</div>
<div class="ticket">
	<h2>Change History</h2>
	<div class="clear">&nbsp;</div>
	<div class="item">
		<div class="date">
			<p class="cr">{{ object.created_on }} ago</p>
			<p class="ur">by {{ object.user }}</p>
		</div>
		<p class="title">Changed Status</p>
		<p>Blah</p>
	</div>
	<div class="item">
		<div class="date">
			<p class="cr">{{ object.created_on }} ago</p>
			<p class="ur">by {{ object.user }}</p>
		</div>
		<p class="title">Changed World</p>
		<p>Hehe</p>
	</div>
</div>
<form action="" method="post">
	<fieldset>
		<legend>Your two cents</legend>
		<div class="block">
			<p><label for="email">Username or Email:</label></p>
			<p><input id="email" type="text" name="email" value="" /></p>
		</div>
		<div class="block">
			<p><label for="comment">Message:</label></p>
			<p><textarea id="comment"></textarea></p>
			<p><input type="submit" value="Comment" /></p>
		</div>
	</fieldset>
</form>
{% endblock %}
